<select name='contenttypeid' class='form-control'>
  <option value=''>선택</option>
  <option value='12' <% if (contenttypeid == 12) { %>selected<% } %> >관광지</option>
  <option value='14' <% if (contenttypeid == 14) { %>selected<% } %> >문화시설</option>
  <option value='15' <% if (contenttypeid == 15) { %>selected<% } %> >축제</option>
  <option value='28' <% if (contenttypeid == 28) { %>selected<%} %> >레포츠</option>
  <option value='32' <% if (contenttypeid == 32) { %>selected<% } %> >숙박</option>
  <option value='38' <% if (contenttypeid == 38) { %>selected<%}%> >쇼핑</option>
  <option value='39' <% if (contenttypeid == 39) { %>selected<%}%> >음식점</option>
</select>
