<!DOCTYPE html>
<html>
	<head>
    <% include _head %>
	</head>
	<body>
		<div class="container">
      <div class='row justify-content-center'>
        <div class='col-md-5'>
          <div style='margin-top: 60px;' class='text-center'>
            <img src='/public/logo.png' class='form-logo'>
          </div>
          <h1><span class="fa fa-sign-in"></span> 로그인</h1>
      
          <!-- 인증 처리 후 메시지가 있으면 메시지 표시 -->
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>
      
          <form action="/login" method="post" >
              <div class="form-group">
                  <label>이메일</label>
                  <input type="text" class="form-control" name="email">
              </div>
              <div class="form-group">
                  <label>비밀번호</label>
                  <input type="password" class="form-control" name="password">
              </div>
      
              <button type="submit" class="btn btn-primary btn-block btn-lg">로그인</button>
          </form>
      
          <hr>
      
          <p>계정이 없으세요? <a href="/signup">회원가입하기</a></p>
          <p><a href="/">홈으로</a>.</p>
          <div class='text-center'>
            <a href='#' class='social-login facebook'>
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href='#' class='social-login google-plus'>
              <i class="fab fa-google-plus-square"></i>
            </a>
            <a href='#' class='social-login twitter'>
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
